{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks%}
{% block styles%}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock styles %}
{% block content%}


<section class="SignInPage">
  <div class="box">

         <form method="post" novalidate style="width:600px">
            <div class="head-form">
                <h2>Sign Up</h2>
             </div>
            {% csrf_token %}
            {% if form.non_field_errors%}
            <div class="alert alert-danger" role="alerts">
            {%for error in form.non_field_errors%}
            <p {%if forloop.last%} class="mb-0" {%endif%}>{{error}}</p>
            {%endfor%}
            </div>
            {%endif%}
            
            {% for field in form %}
                <div class="form-group">
                  {{field.label_tag}}
            
                  {%if form.is_bound%}
                    {%if field.errors%}
                       {% render_field field class="form-control is-invalid" %}
                        {%for error in field.errors%}
                          <div class="invalid-feedback">{{error}}</div>
                        {%endfor%}
                    {%else%}
                  {% render_field field class="form-control is-valid" %}
                    {%endif%}
                  {%else%}
                  {% render_field field class="form-control" %}
            
                  {%endif%}
            
            
                </div>
                {%if field.help_text%}
                <small class="form-text text-muted">
                  {{field.help_text}}
                </small>
                {%endif%}
            
                {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary btn-block">Create an account</button>
          </form>
  </div>
</section>  
{% endblock content%}