html,
body {
    margin: 0px;
}

h2 {
    font-family: 'Gluten', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
}

.NavDiv {
    width: 95%;
    margin: auto;
}

.navbar-custom {
    background-color: rgb(255, 255, 255) !important;
    border-radius: 0px 0px 20px 20px;
}

.nav-link {
    color: rgb(44, 0, 138) !important;
    font-family: 'Anton', sans-serif !important;
    font-family: 'Bonheur Royale', cursive !important;
    font-family: 'Karla', sans-serif !important;
    font-family: 'Merriweather', serif !important;
}

.dropdown-item {
    color: rgb(44, 0, 138) !important;
    font-family: 'Anton', sans-serif;
    font-family: 'Bonheur Royale', cursive;
    font-family: 'Karla', sans-serif;
    font-family: 'Merriweather', serif;
}

header {
    background-color: rgb(81, 0, 255);
}

.SignInPage {
    background-image: linear-gradient(-225deg, rgb(74, 15, 202) 0%, rgb(207, 185, 255) 100%);
    background-image: linear-gradient(to bottom, rgb(81, 0, 255) 0%, rgb(255, 255, 255) 100%);
    height: 95vh;
}

.box {
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

input[class="form-input"] {
    width: 240px;
    height: 50px;

    margin-top: 2%;
    padding: 15px;

    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;

    outline: none;
    border: none;

    border-radius: 5px 5px 5px 5px;
    transition: 0.2s linear;
}

button {
    display: inline-block;
    color: #252537;

    width: 240px;
    height: 50px;

    padding: 0 20px;
    background: #fff;
    border-radius: 5px;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 7% auto;
    letter-spacing: 0.05em;
}

button:hover {
    background-color: rgb(209, 209, 209);
}

form {
    width: 600px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(0, 0%, 0%, 0.4);
    padding: 2%;
    /* background-image: linear-gradient(-225deg, rgb(255, 227, 143) 50%, rgb(255, 215, 94) 50%); */
    background-color: rgb(235, 185, 37);
}