Django==3.2
asgiref==3.4.1
coverage==6.3.2
django-allauth==0.48.0
django-crispy-forms==1.13.0
django-rest-auth==0.9.5
django-widget-tweaks==1.4.9
djangorestframework==3.12.4
natsort==8.1.0
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
