<section class="SecondSection">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 SignUp">
          <!-- <img src="Images/Subscriber-pana.svg" alt="."> -->
          <h3>Sign up to get notified once our application is ready!</h3>
        </div>
        <div class="col-6 firstForm">
          <form>
            
            <div class="mb-3 ">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" name="signUpEmail" method="post" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1"  class="form-label">Username</label>
              <input type="text" class="form-control" name="signUpuser" method="post" id="exampleInputPassword1">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="signUpPwd" method="post" id="exampleInputPassword1">
            </div>
  
            <button type="submit" class="btn btn-primary submit">Sign Up</button>
          </form>
        </div>
  
      </div>
  </section>
  